<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		<title>post content page</title>
		<style>
			img.resize {
			  max-width:50%;
			  max-height:50%;
			}
		</style>

	</head>
	<body>
		<br>
		<div class="container">
			<div class="card">
				<div class="card-body">
					{% for data_ in data %}
					<div class="card-header"><h3><strong>{{data_['title']}}</strong></h3></div>
					<div class="card-body">
						작성자 : {{username}} || 게시일 : {{data_['wdate']}} || 수정일 : {{data_['udate']}} || 조회수 : {{data_['view']}} || 글번호 : {{data_['id']}}
					</div>
					<div class="card-body">
						내용 :
						{{data_['content']}}
					</div>
					<div>
						{% if img_name == None %}

						{% else %}
							<div class="card-body">
								Image
								<p></p>
									<img src={{url_for('main.uploaded_image',filename=img_name)}}
										 class="resize"
										 onError="this.src='http://127.0.0.1:9000/display/error_img.jpeg';"
										 width="100px"
										 height="100px"
										 onclick="MM_openBrWindow('http://127.0.0.1:9000/display/{{img_name}}','{{img_name}}')"
									/>
							</div>
						{% endif %}

					</div>
					<div class="card-footer">
						<a href="/post/edit/{{data_['id']}}" class="card-link">수정하기</a>
						<a href="/post/delete/{{data_['id']}}" class="card-link">삭제하기</a>
						<a href="/post" class="card-link">목록으로</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>	
	</body>

	<script type="text/JavaScript">
	function MM_openBrWindow(theURL,winName) {
		var _width = '800';
    	var _height = '500';

		// 팝업을 가운데 위치시키기 위해 아래와 같이 값 구하기
		var _left = Math.ceil(( window.screen.width - _width )/2);
		var _top = Math.ceil(( window.screen.width - _height )/2);
		console.log(_top)
		_top =_top + 30
		console.log(_top)

		window.open(theURL, winName, 'width='+ _width +', height='+ _height +', left=' + _left + ', top='+ _top );

		//window.open(theURL,winName,features);
	}
	</script>
</html>